<% # ホーム画面 %>
<div class="show-profile-link-container">
  <%= link_to '全投稿', home_path, class: (params[:filter] == 'following' ? "home-post-inactive" : "home-post-active"), data: {"turbo" => false} %>
  <%= link_to 'フォロー中', home_path(filter: 'following'), class: (params[:filter] == 'following' ? "home-post-active" : "home-post-inactive"), data: {"turbo" => false} %>
</div>

<ul class="microposts">
  <% @feed_items.each do |micropost| %>
    <li>
      <div class="content">
        <div class="post-image" style="aspect-ratio: <%= micropost.aspect_ratio %>; ">
          <%= link_to (image_tag micropost.image if micropost.image.attached?), maps_path(micropost_id: micropost.id), data: {"turbo" => false} %>
          <div class="post-user">
            <%= link_to micropost.user.name, micropost.user %>
            <%= "&nbsp;".html_safe %> 
            <%= time_ago_in_words(micropost.created_at) %> 
          </div>
          <div class="post-delete"> 
            <% if current_user?(micropost.user) %>
              <%= link_to "削除する", micropost, data: { "turbo-method": :delete, "turbo-confirm": "削除してもよろしいですか？" } %>
            <% end %>
          </div>
          <div class="post-place-name-content">
            <div class="toggle-content-btn" style="color: white; font-size: 18px;">
              <span class="place-name"><%= micropost.place_name(micropost.place_id) %></span>
              <% if micropost.content.present? %>
                <span class="toggle-arrow">▼</span>
              <% end %>
            </div>
            <% if micropost.content.present? %>
              <div class="post-content" style="display: none;">
                <%= micropost.content %>
              </div>
            <% end %>
          </div>
          <div class="post-like">
            <turbo-frame id="like_buttons_<%= micropost.id %>">
              <%= render partial: "likes/like", locals: { micropost: micropost } %>
            </turbo-frame>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<div class="pagination-container">
  <%= will_paginate @feed_items, previous_label: '前へ', next_label: '次へ', inner_window: 0, outer_window: 0 %>
</div>


