<% #ログイン画面 %>
<% content_for :hide_header, true %>

<div class="login-container">
  <div class="logo">spot snap</div>
  <%= form_with(url: login_path, scope: :session) do |f| %>

    <%= f.email_field :email, class: 'login-form', placeholder: "メールアドレス" %>

    <%= f.password_field :password, class: 'login-form', placeholder: "パスワード" %>

    <%= link_to "パスワードをお忘れですか？", new_password_reset_path, class: 'forgot-password-link' %>

    <div style="margin-bottom: 50px;"></div>
    
    <%= f.label :remember_me, class: "checkbox-inline" do %>
      <%= f.check_box :remember_me %>
      <span>ログイン状態を保存する</span>
    <% end %>
    <%= f.submit "ログイン", class: "grey-btn" %>
  <% end %>

  <hr class="gray-hr">

  <div>アカウントをお持ちでない方はこちら</div>
  <div><%= link_to "登録", signup_path, class: "white-btn" %></div>
</div>

