<% #パスワード変更画面 %>
<% content_for :hide_header, true %>

<div class="login-container">
  <div class="logo">spot snap</div>

  <div style="margin-bottom: 30px;"></div>

  <div>パスワードの再設定</div>
  <%= form_with(model: @user, url: password_reset_path(params[:id])) do |f| %>

    <%= hidden_field_tag :email, @user.email %>

    <%= f.password_field :password, class: 'login-form', placeholder: "パスワード" %>
    <%= f.object.errors[:password].any? ? content_tag(:div, f.object.errors[:password].join(", "), class: "login-error-message") : "" %>

    <%= f.password_field :password_confirmation, class: 'login-form', placeholder: "パスワード再入力" %>
    <%= f.object.errors[:password_confirmation].any? ? content_tag(:div, f.object.errors[:password_confirmation].join(", "), class: "login-error-message") : "" %>

    <div style="margin-bottom: 50px;"></div>

    <%= f.submit "登録", class: "grey-btn" %>
  <% end %>
</div>
