<div class="search-container">
  <%= text_field_tag 'address', nil, id: 'address', class: 'search-field' %>
  <%= image_submit_tag('search.png', onclick: 'codeAddress()', class: 'submit-button') %>
</div>
<div id="display"></div>


<% if @micropost && @micropost.lat.present? && @micropost.lng.present? %>
  <div id='map' data-lat="<%= @micropost.lat %>" data-lng="<%= @micropost.lng %>"></div>
<% else %>
  <div id='map'></div>
<% end %>

<style>
    #map {
        height: 600px;
        width: 100%;
    }
</style>

<script>
let map
let geocoder
let infowindow;
const display = document.getElementById('display')

function initMap(){
  let mapElement = document.getElementById('map');

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      let lat = position.coords.latitude;
      let lng = position.coords.longitude;

      if (mapElement.hasAttribute('data-lat') && mapElement.hasAttribute('data-lng')) {
        lat = parseFloat(mapElement.getAttribute('data-lat'));
        lng = parseFloat(mapElement.getAttribute('data-lng'));
      } 

      let initialLocation = new google.maps.LatLng(lat, lng);

      map = new google.maps.Map(mapElement, {
        center: {lat: lat, lng: lng},
        zoom: 12,
      });    
      
      var marker = new google.maps.Marker({
        map: map,
        position: {lat: lat, lng: lng},
        draggable: true
      });   

      // 現在位置の詳細アドレスの取得と表示
      geocoder.geocode({'location': initialLocation}, function(results, status) {
        if (status === 'OK') {
          if (results[0]) {
            display.textContent = "初期位置：" + results[0].formatted_address;
            infowindow.setContent(results[0].formatted_address);
            infowindow.open(map, marker);
          }
        }

      // マーカーのドラッグ終了イベントリスナーを追加
      google.maps.event.addListener(marker, 'dragend', function() {
        var newLocation = marker.getPosition();
        display.textContent = "新しい位置：" + newLocation;
        infowindow.setContent('新しい位置: ' + newLocation);
        infowindow.open(map, marker);
      });
      });
    })
  }

  geocoder = new google.maps.Geocoder()
  infowindow = new google.maps.InfoWindow();
  }

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location,
          draggable: true
      });
      display.textContent = "検索結果：" + results[ 0 ].geometry.location

      google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent('検索結果の場所: ' + results[0].formatted_address);
        infowindow.open(map, marker);
      });

      // マーカーのドラッグ終了イベントリスナーを追加
      google.maps.event.addListener(marker, 'dragend', function() {
        var newLocation = marker.getPosition();
        display.textContent = "新しい位置：" + newLocation;
        infowindow.setContent('新しい位置: ' + newLocation);
        infowindow.open(map, marker);
      });

      infowindow.setContent('検索結果の場所: ' + results[0].formatted_address);
      infowindow.open(map, marker);

    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>

