<% #フォロー Turbo%>

<% # フォローボタン %>
<%= turbo_stream.update "follow_form" do %>
  <% if current_user.following?(@user) %>
    <%= form_with(model: current_user.active_relationships.find_by(followed: @user), html: { method: :delete }) do |f| %>
      <%= f.submit "フォロー中", class: "unfollow-btn" %>
    <% end %>
  <% else %>
    <%= form_with(model: current_user.active_relationships.build) do |f| %>
      <div><%= hidden_field_tag :followed_id, @user.id %></div>
      <%= f.submit "フォロー", class: "follow-btn" %>
    <% end %>
  <% end %>
<% end %>

<% # フォロー数 %>
<%= turbo_stream.update "followers" do %>
  <%= @user.followers.count %>
<% end %>
