<% # いいね一覧画面 %>
<div class="row">

    <% # プロフィールヘッダー %>
    <section class="user_info">
        <h1 class = "left">
        <%= current_user.name %>
        </h1>

        <%= link_to "プロフィールの編集", edit_user_path(current_user), class: "edit-profile-link" %>
        <%= link_to "投稿一覧", current_user, class: "edit-profile-link" %>
        <%= link_to "いいね欄", likes_path, class: "edit-profile-link" %>
    </section>

    <section class="stats">
        <%= render 'shared/stats' %>
    </section>

    <div class="row">
        <div class="microposts-container">
            <% @liked_microposts.each do |micropost| %>
                <div class="microposts-column">
                    <div class="profile-microposts">
                        <%= link_to micropost_path(micropost) do %>
                            <%= image_tag micropost.image, class: "micropost-image" if micropost.image.attached? %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>

</div>