 <% # いいね一覧画面 %>
 <div class="profile-name">
    <%= current_user.name %>
  </div>

    <div style="margin-bottom: 10px;"></div>

    <%= link_to "プロフィールの編集", edit_user_path(current_user), class: "edit-user-link" %>

    <div style="margin-bottom: 10px;"></div>

    <% @user ||= current_user %>
    <div class="stats">
      <% # フォロー数 %>
      <a href="<%= following_user_path(@user) %>">
        <span id="following">
          <%= @user.following.count %>
        </span>
        フォロー中
      </a>

      <% # フォロワー数 %>
      <a href="<%= followers_user_path(@user) %>">
        <span id="followers">
          <%= @user.followers.count %>
        </span>
        フォロワー
      </a>
    </div>

     <div style="margin-bottom: 20px;"></div>

    <div class="show-profile-link-container">
      <%= link_to "投稿一覧", current_user, class: "show-profile-link-inactive" %>
      <%= link_to "いいね欄", likes_path, class: "show-profile-link-active" %>
    </div>

    <% if @liked_microposts.empty? %>
      <div style="margin-bottom: 30px;"></div>
      <p class="no-posts-message">お気に入りの投稿を見つけて、いいねを押してみましょう！</p>
      <%= link_to '投稿を見てみる', home_path, class: 'share-photo-button' %>
    <% else %>
      <div class="profile-microposts-container">
        <% @liked_microposts.each do |micropost| %>
          <%= link_to (image_tag micropost.image if micropost.image.attached?), micropost_path(micropost), data: {"turbo" => false} %>
        <% end %>
      </div>
      <div class="pagination-container">
        <%= will_paginate @liked_microposts, previous_label: '前へ', next_label: '次へ', inner_window: 0, outer_window: 0 %>
      </div>
    <% end %>
