<% # プロフィール編集画面 %>

  <%= form_with(model: @user) do |f| %>
  <div class="edit-user-title">プロフィールを編集</div>

    <%= f.label :name, "ユーザーネーム", class: 'edit-user-label' %>
    <%= f.text_field :name, class: 'edit-user-field' %>
    <%= f.object.errors[:name].any? ? content_tag(:div, f.object.errors[:name].join(", "), class: "error-message") : "" %>

    <%= f.label :email, "メールアドレス", class: 'edit-user-label' %>
    <%= f.email_field :email, class: 'edit-user-field' %>
    <%= f.object.errors[:email].any? ? content_tag(:div, f.object.errors[:email].join(", "), class: "error-message") : "" %>

    <%= f.label :password, "パスワード", class: 'edit-user-label' %>
    <%= f.password_field :password, class: 'edit-user-field' %>
    <%= f.object.errors[:password].any? ? content_tag(:div, f.object.errors[:password].join(", "), class: "error-message") : "" %>

    <%= f.label :password_confirmation, "パスワード再入力", class: 'edit-user-label' %>
    <%= f.password_field :password_confirmation, class: 'edit-user-field' %>
    <%= f.object.errors[:password_confirmation].any? ? content_tag(:div, f.object.errors[:password_confirmation].join(", "), class: "error-message") : "" %>


    <div style="margin-bottom: 50px;"></div>

      <%= f.submit "保存", class: "edit-user-btn" %>
  <% end %>

<!--
<% # プロフィール編集画面 %>
<h1>プロフィールを編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "ユーザーネーム" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード再入力" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "保存", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

-->
