<% # フォロー/フォロワー一覧画面 %>

<% # アカウント名 %>
<section class="profile-name">
  <%= @user.name %>
</section>

<div class="stats">
  <% # フォロー数 %>
  <a href="<%= following_user_path(@user) %>">
    <span id="following">
      <%= @user.following.count %>
    </span>
    フォロー中
  </a>

  <span style="margin: 0 10px;"></span>

  <% # フォロワー数 %>
  <a href="<%= followers_user_path(@user) %>">
    <span id="followers">
      <%= @user.followers.count %>
    </span>
    フォロワー
  </a>
</div>

<div style="margin-bottom: 50px;"></div>

 <div class="follow-title">
  <%= @title %>
</div>

  <ul class="users">
    <%= render @users %>
  </ul>

