<% # フォロー/フォロワー一覧画面 %>
<div class="row">
  <aside class="col-md-4">

    <% # アカウント名 %>
    <section class="user_info">
      <%= gravatar_for(@user, class: "rounded-circle") %>
      <h1><%= @user.name %></h1>
    </section>

    <% # フォロー/フォロワー数 %>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>

  </aside>

  <% # フォロー/フォロワー一覧 %>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
  
</div>
