<% # アカウント画面 %>
<div class="profile-name">
  <%= @user.name %>
</div>

  <div style="margin-bottom: 10px;"></div>

<% if @user == current_user %>
  <%= link_to "プロフィールの編集", edit_user_path(current_user), class: "edit-user-link" %>
<% end %>
<%= render 'follow_form' if logged_in? %>

  <div style="margin-bottom: 10px;"></div>

<% @user ||= current_user %>
<div class="stats">
  <% # フォロー数 %>
  <a href="<%= following_user_path(@user) %>">
    <span id="following">
      <%= @user.following.count %>
    </span>
    フォロー中
  </a>

  <% # フォロワー数 %>
  <a href="<%= followers_user_path(@user) %>">
    <span id="followers">
      <%= @user.followers.count %>
    </span>
    フォロワー
  </a>
</div>

  <div style="margin-bottom: 50px;"></div>

<% if @user == current_user %>
  <div class="show-profile-link-container">
    <%= link_to "投稿一覧", current_user, class: "show-profile-link" %>
    <%= link_to "いいね欄", likes_path, class: "show-profile-link" %>
  </div>
<% end %>

<% # 投稿一覧 %>
<div class="profile-microposts-container">
  <% @microposts.each do |micropost| %>
    <%= link_to (image_tag micropost.image), micropost_path(micropost), data: {"turbo" => false} %>
  <% end %>
</div>

  
