<% # アカウント画面 %>
<div class="profile-name">
  <%= @user.name %>
</div>

  <div style="margin-bottom: 10px;"></div>

<% if @user == current_user %>
  <%= link_to "プロフィールの編集", edit_user_path(current_user), class: "edit-user-link" %>
<% end %>
<% if logged_in? && !current_user?(@user) %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= form_with(model: current_user.active_relationships.find_by(followed: @user), html: { method: :delete }) do |f| %>
        <%= f.submit "フォロー中", class: "unfollow-btn" %>
      <% end %>
    <% else %>
      <%= form_with(model: current_user.active_relationships.build) do |f| %>
        <div><%= hidden_field_tag :followed_id, @user.id %></div>
        <%= f.submit "フォロー", class: "follow-btn" %>
      <% end %>
    <% end %>
  </div>
<% end %>

  <div style="margin-bottom: 10px;"></div>

<% @user ||= current_user %>
<div class="stats">
  <% # フォロー数 %>
  <a href="<%= following_user_path(@user) %>">
    <span id="following">
      <%= @user.following.count %>
    </span>
    フォロー中
  </a>

  <% # フォロワー数 %>
  <a href="<%= followers_user_path(@user) %>">
    <span id="followers">
      <%= @user.followers.count %>
    </span>
    フォロワー
  </a>
</div>

  <div style="margin-bottom: 50px;"></div>

<% if @user == current_user %>
  <div class="show-profile-link-container">
    <%= link_to "投稿一覧", current_user, class: "show-profile-link" %>
    <%= link_to "いいね欄", likes_path, class: "show-profile-link" %>
  </div>
<% end %>

<% # 投稿一覧 %>
<div class="profile-microposts-container">
  <% @microposts.each do |micropost| %>
    <%= link_to (image_tag micropost.image if micropost.image.attached?), micropost_path(micropost), data: {"turbo" => false} %>
  <% end %>
</div>

<div class="pagination-container"> 
  <%= will_paginate @microposts, previous_label: '前へ', next_label: '次へ', inner_window: 0, outer_window: 0 %>
</div>

  


