<% # 場所詳細画面 %>
<div class="profile-name">
  <%= @place_name %>
</div>
<div class="profile-address">
  <%= @place_formatted_address %>
</div>

<div class="stats">
  <p>投稿数 <%= @microposts.count %></p>
  <p>総いいね数 <%= @microposts.joins(:likes).count %></p>
</div>

<% # 投稿一覧 %>
<div class="profile-microposts-container">
  <% @microposts.each do |micropost| %>
    <%= link_to (image_tag micropost.image if micropost.image.attached?), micropost_path(micropost), data: {"turbo" => false} %>
  <% end %>
</div>

<div class="pagination-container">
  <%= will_paginate @microposts, previous_label: '前へ', next_label: '次へ', inner_window: 0, outer_window: 0 %>
</div>