<% # 投稿フォーム パーシャル %>
<%= form_with(model: @micropost, html: { multipart: true }) do |f| %>

  <% # エラーメッセージ %>
  <%= render 'shared/error_messages', object: f.object %>

  <% # 画像選択 %>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", id: "file-upload", style: "display: none;" %>
    <label class="custom-file-upload" for="file-upload">
      写真を選択
    </label>
    <img id="preview-image" src="#" alt="選択した画像" style="display: none" />
  </span>

  <% # 位置情報選択 %>
  <div class="search-container">
    <%= text_field_tag 'address', nil, id: 'address', class: 'search-field2' %>
    <%= button_tag type: 'button', id: 'search-button', class: 'submit-button' do %>
    <%= image_tag("search.png", size: 20) %>
    <% end %>
  </div>
  <%= f.hidden_field :lat, id: 'lat' %>
  <%= f.hidden_field :lng, id: 'lng' %>
  <%= f.hidden_field :place_id, id: 'place_id' %>

  <div id="location-details" style="display: none;"></div>
  <div id="map" style="display: none;"></div>
  
  <% # 説明入力 %>
  <div class="field">
    <%= f.text_area :content, placeholder: "説明を入力" %>
  </div>

  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>


