<%= form_with(model: @micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>
  <div class="field">
    <%= f.text_area :content, placeholder: "説明を入力" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
