<% # サイドバー パーシャル %>
<aside class="sidebar">
  <section class="user_info">
    <ul>
      <li class="logo"><%= link_to "spot snap", home_path %></li>
      <li class="logo-img"><%= link_to image_tag("home.png", size: 30), home_path %></li>
      <li><%= link_to new_post_path, data: {"turbo" => false} do %>
        <%= image_tag("post.png", size: 30) %> <span class="post-text">投稿</span>
      <% end %></li>
      <li><%= link_to maps_path, data: {"turbo" => false} do %>
        <%= image_tag("map.png", size: 30) %> <span class="post-text">マップ</span>
      <% end %></li>
      <li><%= link_to users_path do %>
        <%= image_tag("search.png", size: 30) %> <span class="post-text">検索</span>
      <% end %></li>
      <li><%= link_to current_user do %>
        <%= image_tag("account.png", size: 30) %> <span class="post-text">プロフィール</span>
      <% end %></li>
      <li><%= link_to logout_path, data: { "turbo-method": :delete } do %>
        <%= image_tag("logout.png", size: 30) %> <span class="post-text">ログアウト</span>
      <% end %></li>
    </ul>
  </section>
</aside>

