<!DOCTYPE html>
<html>
  <% # 基本設定 %>
  <head>
    <title>SpotSnap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&loading=async" defer></script>
    <link rel="icon" href="<%= asset_path 'spotsnap.png' %>" sizes="64x64" type="image/png">
  </head>
  <body> 
    
      <% # サイドバー表示 %>
      <% unless content_for?(:hide_header) %>
        <aside class="sidebar">
          <ul>
            <li class="max-1000-home"><%= link_to home_path do %>
              <%= image_tag("home.png", size: 30) %> 
            <% end %></li>
            <li class="min-1000-home"><%= link_to "spot snap", home_path %></li>

            <li><%= link_to new_post_path, data: {"turbo" => false} do %>
              <%= image_tag("post.png", size: 30) %><span class="sidebar-text">投稿</span> 
            <% end %></li>

            <li><%= link_to maps_path, data: {"turbo" => false} do %>
              <%= image_tag("map.png", size: 30) %><span class="sidebar-text">マップ</span>
            <% end %></li>

            <li><%= link_to users_path do %>
              <%= image_tag("search.png", size: 30) %><span class="sidebar-text">検索</span>
            <% end %></li>

            <li><%= link_to current_user do %>
              <%= image_tag("account.png", size: 30) %><span class="sidebar-text">プロフィール</span>
            <% end %></li>

            <div style="margin-bottom: 200px;"></div>

            <li class="logout"><%= link_to logout_path, data: { "turbo-method": :delete } do %>
              <%= image_tag("logout.png", size: 30) %><span class="sidebar-text">ログアウト</span>
            <% end %></li>
          </ul>
        </aside>
      <% end %> 

      <div class="container">
        <% # フラッシュメッセージ表示 %>
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>

        <%= yield %>
      </div>
  </body>
</html>

